<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
<!--<div id="app">-->
<!--    <input type="text" v-model="msg">-->
<!--    <hr>-->
<!--    {{msg}}-->
<!--</div>-->
<!--<script>-->
<!--    new Vue({-->
<!--        el:"#app",-->
<!--        data:{-->
<!--            msg:"",-->
<!--        }-->
<!--    })-->
<!--</script>-->
<div id="app">
    <input type="text" v-model="msg">
    <hr>
    {{msg}}
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            msg:'',
        }
    })
</script>
</body>
</html>